[submodule "strategy-pipeline"]
	path = strategy-pipeline
	url = https://github.com/runchengxie/strategy-pipeline.git
[submodule "market-data-platform"]
	path = market-data-platform
	url = https://github.com/runchengxie/market-data-platform.git
[submodule "quant-execution-engine"]
	path = quant-execution-engine
	url = https://github.com/runchengxie/quant-execution-engine.git
[submodule "alpha-research"]
	path = alpha-research
	url = https://github.com/runchengxie/alpha-research.git
[submodule "portfolio-backtester"]
	path = portfolio-backtester
	url = https://github.com/runchengxie/portfolio-backtester.git
