[submodule "cross-sectional-trees"]
	path = cross-sectional-trees
	url = https://github.com/runchengxie/cross-sectional-trees.git
[submodule "market-data-platform"]
	path = market-data-platform
	url = https://github.com/runchengxie/hk-data-platform.git
[submodule "quant-execution-engine"]
	path = quant-execution-engine
	url = https://github.com/runchengxie/quant-execution-engine.git
